.container {
    max-width: 520px;
    height: 459px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.fullWidth {
    width: 100%;
    text-align: center;
}

.orderNumber {
    composes: fullWidth;
    height: 119px;
    text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25), 0px 0px 8px rgba(51, 51, 255, 0.25), 0px 4px 32px rgba(51, 51, 255, 0.5);
}

.orderIdentifier {
    composes: fullWidth;
}

.textCenter {
    text-align: center;
}

.icon {
    height: 102px;
}