.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 480px;
    margin: 15vh auto 0 auto;
}

.inputWrapper {
    width: 100%;
}

.inputWrapper > div {
    width: 100%;
}

.inputWrapper > div > div {
    width: 100%;
}