.list::-webkit-scrollbar {
	width: 12px;
}
.list::-webkit-scrollbar-track {
	background: #2F2F37;
}
.list::-webkit-scrollbar-thumb {
	border: 3px solid #2F2F37;
	border-radius: 6px;
	background: #8585AD;
}