.container {
	height: 656px;
}
.ingredientWrapper {
	display: flex;
	align-items: center;
}
.ingredientList {
	display: flex;
	overflow-y: auto;
	flex-direction: column;
	max-height: 465px;
}
.ingredientList::-webkit-scrollbar {
	width: 12px;
}
.ingredientList::-webkit-scrollbar-track {
	background: #2F2F37;
}
.ingredientList::-webkit-scrollbar-thumb {
	border: 3px solid #2F2F37;
	border-radius: 6px;
	background: #8585AD;
}