.overlay {
    position: fixed;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
}

.container {
    width: 720px;
    height: 539px;
    border-radius: 40px;
    position: relative;
    display: block;
    margin: 0 auto;
    background-color: #1C1C21;
}

.innerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.closeButton {
    position: absolute;
    right: 0;
    cursor: pointer;
    height: 24px;
    width: 24px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 520px;
}

.ingredientImage {
    width: 480px;
    height: 240px;
    margin: 0 auto;
}

.ingredientInfo {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.textCenter {
    text-align: center;
}

.header {
    display: flex;
    align-items: center;
    height: 64px;
    width: 100%;
}