.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 520px;
}

.ingredientImage {
    width: 480px;
    height: 240px;
    margin: 0 auto;
}

.ingredientInfo {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.textCenter {
    text-align: center;
}

.header {
    display: flex;
    align-items: center;
    height: 64px;
}

.headerTextCenter {
    text-align: center;
    width: 100%;
}

.headerWrapper {
    width: 100%;
}