.container {
    width: 620px;
}

.flexContainer {
    display: flex;
}

.bottomMenuWrapper {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.bottomMenuWrapper > svg {
    width: 33px;
    height: 33px;
}