.container {
    width: 720px;
    border-radius: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background-color: #1C1C21;
}

.containerNonClosing {
    width: 720px;
    border-radius: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15vh auto 0 auto;
}

.header {
    display: flex;
    align-items: center;
    height: 64px;
}

.headerTextCenter {
    text-align: center;
    width: 100%;
}

.headerWrapper {
    width: 100%;
}

.closeButton {
    position: absolute;
    right: 0;
    cursor: pointer;
    height: 24px;
    width: 24px;
}